<div class="flex flex-col items-center justify-center h-[100vh] py-[110px]">
    <img src="~/Users/assets/images/error-image.png" alt="" class="w-[420px] h-[280px]">
    <div class="pt-10 text-center">
        <h2 class="text-[40px] font-semibold">That Page Cant Be Found</h2>
        <p class="mb-5">It looks like nothing was found at this location. Maybe try to search for what you are looking for?</p>

        <a asp-action="index" asp-controller="home" class="bg-red text-white font-semibold px-5 py-2 rounded-lg">Go To Homepage</a>
    </div>
</div>