@using Business.ViewModels.Admin.Message
@model MessageIndexVM


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Content</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>@message.SenderName</td>
                <td>@message.SenderGmail</td>
                <td>@message.Subject</td>
                <td>@message.Content</td>
                <td><a href="mailto:@message.SenderGmail">Send Email</a></td>
            </tr>
        }
    </tbody>
</table>


