input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
}




.product{
	transition: 0.3s;
}

.product-container:hover > :not(:hover){
	/* filter: blur(2px); */
	opacity: .2;
}